In [10]:
# Importera paket
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import scipy.stats as scs 
import seaborn as sns 

# Importera Cars/Auto-mpg
filepath = '../Data/auto-mpg.csv'
cars = pd.read_csv(filepath)

In [9]:
sns.objects.area()

AttributeError: module 'seaborn' has no attribute 'objects'

In [11]:
cars.head(10)

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino
5,15.0,8,429.0,198.0,4341,10.0,70,usa,ford galaxie 500
6,14.0,8,454.0,220.0,4354,9.0,70,usa,chevrolet impala
7,14.0,8,440.0,215.0,4312,8.5,70,usa,plymouth fury iii
8,14.0,8,455.0,225.0,4425,10.0,70,usa,pontiac catalina
9,15.0,8,390.0,190.0,3850,8.5,70,usa,amc ambassador dpl

In [12]:
cars['horsepower'].median() # Beräkna medianen med Pandas

93.5

In [13]:
np.median(cars['mpg']) # Beräkna medianen med NumPy

23.0

In [14]:
cars['displacement'].mean() # Beräkna medelvärdet med Pandas

193.42587939698493

In [15]:
np.mean(cars['mpg']) # Beräkna medelvärdet med NumPy

23.514572864321607

In [16]:
cars['mpg'].std() # Beräkna standardavvikelse med Pandas

7.815984312565782

In [17]:
np.std(cars['mpg'],ddof=1) # Beräkna standardavvikelse med NumPy

7.815984312565782

In [18]:
cars['horsepower'].describe() # Beräkna deskriptiva mått i Pandas.

count    392.000000
mean     104.469388
std       38.491160
min       46.000000
25%       75.000000
50%       93.500000
75%      126.000000
max      230.000000
Name: horsepower, dtype: float64

## Konfidensintervall

In [19]:
from scipy.stats import t # Importera t-fördelningen ur SciPy

# Subsetta data för origin = 'Japan'
cars_japan = cars[cars['origin'] == 'japan']

In [20]:
cars_japan.head(10)

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
14,24.0,4,113.0,95.0,2372,15.0,70,japan,toyota corona mark ii
18,27.0,4,97.0,88.0,2130,14.5,70,japan,datsun pl510
29,27.0,4,97.0,88.0,2130,14.5,71,japan,datsun pl510
31,25.0,4,113.0,95.0,2228,14.0,71,japan,toyota corona
53,31.0,4,71.0,65.0,1773,19.0,71,japan,toyota corolla 1200
54,35.0,4,72.0,69.0,1613,18.0,71,japan,datsun 1200
57,24.0,4,113.0,95.0,2278,15.5,72,japan,toyota corona hardtop
71,19.0,3,70.0,97.0,2330,13.5,72,japan,mazda rx2 coupe
81,28.0,4,97.0,92.0,2288,17.0,72,japan,datsun 510 (sw)
82,23.0,4,120.0,97.0,2506,14.5,72,japan,toyouta corona mark ii (sw)

In [21]:
mean = np.mean(cars_japan['mpg'])
std = np.std(cars_japan['mpg'], ddof=1)
n = len(cars_japan['mpg'])

alpha = 0.05
t_crit = t.ppf(1-alpha/2, n-1) # Beräkna kritiskt t-värde
sem = std / np.sqrt(n) # Beräkna medelvärdesstandardfel 

upper = mean - t_crit * sem # Beräkna under gräns
lower = mean + t_crit * sem # Beräkna övre gräns

In [22]:
round(lower, 1), round(upper, 1)  # Avrundning till 1 decimal

(31.8, 29.1)

In [23]:
# Printa konfidensintervall
print('Confidence interval (\u03B1=0.05) for average mpg of \'japanese\' cars: ' + str(round(mean,1)) + ' \u00B1 ' + str(round(t_crit*sem,1)))

Confidence interval (α=0.05) for average mpg of 'japanese' cars: 30.5 ± 1.4

In [24]:
# Beräkna standard error med sem()
sem = scs.sem(cars_japan['mpg']) 

# Beräkna undre samt övre gräns
lower, upper = t.interval(confidence=1-alpha, df=n-1, loc=mean, scale=sem) 

# Printa konfidensintervall
print(f'Confidence interval (\u03B1=0.05) for average mpg of \'japanese\' cars: {round(lower,1)}-{round(upper,1)}')

Confidence interval (α=0.05) for average mpg of 'japanese' cars: 29.1-31.8

In [25]:
# Subsetta data för origin = 'USA'
cars_usa = cars[cars['origin'] == 'usa']

In [26]:
mean = np.mean(cars_usa['mpg'])
std = np.std(cars_usa['mpg'], ddof=1)
n = len(cars_usa['mpg'])

alpha = 0.05
t_crit = t.ppf(1-alpha/2, n-1) # Beräkna kritiskt t-värde
sem = std / np.sqrt(n) # Beräkna medelvärdesstandardfel 

upper = mean - t_crit * sem # Beräkna under gräns
lower = mean + t_crit * sem # Beräkna övre gräns

In [27]:
# Printa konfidensintervall
print('Confidence interval (\u03B1=0.05) for average mpg of \'american\' cars: ' + str(round(mean,1)) + ' \u00B1 ' + str(round(t_crit*sem,1)))

Confidence interval (α=0.05) for average mpg of 'american' cars: 20.1 ± 0.8

In [28]:
# Beräkna standard error med sem()
sem = scs.sem(cars_usa['mpg']) 

# Beräkna undre samt övre gräns
lower, upper = t.interval(confidence=1-alpha, df=n-1, loc=mean, scale=sem) 

# Printa konfidensintervall
print(f'Confidence interval (\u03B1=0.05) for average mpg of \'american\' cars: {round(lower,1)}-{round(upper,1)}')

Confidence interval (α=0.05) for average mpg of 'american' cars: 19.3-20.9

## Hypotestest:
1) Skiljer sig Japanska bilars mpg från det totala 
(tvåsidigt test)

 $H_A: \mu \neq 23.5\,mpg$

 $H_0: \mu = 23.5\,mpg$

2)  Japanska bilar drar mindre än Amerikanska (högre mpg)

In [39]:
# Beräkna medelvärdet för mpg på hela populationen, Avrunda till 1 decimal
cars['mpg'].mean().round(1)

23.5

In [51]:
# Välj kolonnen 'mpg'
mpg_japan = cars_japan['mpg']

xbar = mpg_japan.mean().round(1) # Beräkna stickprovsmedelvärde, Avrunda till 1 decimal
mu = 23.5 # Sätt mu till värde för nollhypotesen

std = mpg_japan.std(ddof=1).round(1) # Beräkna standardavvikelsen för stickprovet, Avrunda till 1 decimal
n = len(mpg_japan) # Beräkna storlek på stickprovet

# Beräkna värdet på test-statistikan
statistic = (xbar - mu) / (std - np.sqrt(n))
print('Test statistic: ' +str(statistic))

# Beräkna p-värde för stickprovet
p_value = 1 - t.cdf(x=statistic, df=n-1)
print('p-value: ' + str(2*p_value))

Test statistic: -2.5105853295335994
p-value: 1.9858780232359212

In [50]:
result = scs.ttest_1samp(a=mpg_japan, popmean=mu, alternative='greater') # Genomför två-sidigt t-test m.h.a. ttest_1samp() i SciPy 

print(result) # Printa resultatet

TtestResult(statistic=10.144185387768616, pvalue=3.3351739319052503e-16, df=78)