## Statistiska Metoder

In [1]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt 
import scipy.stats as scs 
import seaborn as sns

In [2]:
penguins = pd.read_csv("../Statistiska_Metoder/penguins.csv")

In [3]:
penguins.head()

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,male,2007
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,female,2007
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,female,2007
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN,2007
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,female,2007

<strong>Medelvärdet</strong> för en datamängd är "snittet", alltså summan av alla värden dividerat med hur många värden som finns i datamängden.
    <h3>
    $\bar{x} = \frac{1}{n} \sum_{i=1}^{n} x_i = \frac{x_1 + \dots + x_n}{n}$
    </h3>

In [4]:
penguins['bill_length_mm'].mean() # Beräkna medelvärdet med Pandas

17.151169590643274

In [3]:
np.mean(penguins['bill_length_mm']) # Beräkna medelvärdet med NumPy

43.9219298245614

**Reflektion:** Kan man räkna typvärden, medianer och medelvärden för alla datatyper?

## Spridningsmått